
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>addfile</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>

  <div *ngIf="alert.show" class="alert {{alert.color}}" role="alert">
    {{alert.message}}
</div>

<div *ngIf="!progress">
    <div (dragover)="AllowDrop($event)" (drop)="fileChangeEvent($event,'drop')" >
        <input type="file"   id="modal-new-dropzone-input" multiple="true" class="modal-new-dropzone-input" (change)="fileChangeEvent($event)"/>
        <br>
        <br>
        
        <label class="text-center" for="modal-new-dropzone-input">
            <span class="modal-new-span-upload">
<h2> <ion-icon name="add-circle"></ion-icon>
  click to Choose files  </h2>
            </span>
            <ul id="modal-new-list-upload"></ul>
        </label>
    </div>
    <br>
    <br>
          
    <div class="fileTable">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of filesToUpload; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{file.name}}</td>
                    <td>{{file.size}} octets</td>
                    <td>
                        <button ion-button  color="danger" outline (click)="Delete(i)">
                            supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-6 myBtn" (click)="upload()">
            <button ion-button [disabled]="filesToUpload.length == 0"  color="secondary" outline type="button" >
                Upload
            </button>
        </div>
        
        <div class="col-sm-6 myBtn">
            <button ion-button type="button"  color="danger" outline (click)="ResetFile()">
                Reset
            </button>
        </div>
        
    </div>
</div>

<div *ngIf="progress">
    Patientez...
</div></ion-content>


